venv/
__pycache__/
*.pyc
.pytest_cache/

.env

logs/
data/raw/*
data/frames/*
data/annotated/*
data/processed/*
data/highlights/
!data/raw/.gitkeep
!data/frames/.gitkeep
!data/annotated/.gitkeep
!data/processed/.gitkeep

models/yolo/*.pt
models/classifier/*.pth
yolov8n.pt

pip_install*.log
uvicorn*.log
